#banner{
  background-color: #FFAB4C;
  padding: 2% 7%;
}
.navbar{
  font-family: "Ubuntu";
  font-weight: 400;
  padding: 2%;
}
.smash_logo{
  width: 60%;
}
.photo{
  border-radius: 100%;
  width: 20%;
}
#featured{
font-family: "Ubuntu";
font-weight: 500;
line-height: 2;
}
.smash{
background-color: #99DDCC;
padding: 2% 7%;
}
.posts{
  background-color: #CFB784;
  padding: 2% 7%;
}
.blogroll{
  background-color: #FF9B6A;
  padding: 2% 7%;
}
.social{
  background-color: #D8E9A8;
  padding: 2% 7%;
}
.footer{
  background-color: #FEF9EF;
  padding: 2% 7%;
  text-align: center;
  line-height: 2;
  font-family: "Cardo";
  font-weight: 500;
}
h2{
  font-family: "Ubuntu";
  font-weight: 700;
}
